/* ----------------- HEADER Y NAV -------------------*/
header {
    background-color: #0e0e0e; /* Rosa para combinar con "Go" */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 50px; 
}


nav ul {
    list-style: none; 
    display: flex; 
    gap: 20px; 
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e055a1; 
}

nav ul li a.active {
    color: #e055a1; 
    font-weight: bold; 
}

/* ----------------- TERMINA HEADER Y NAV -------------------*/